// Font
$mainFont                : 'Montserrat', sans-serif;
$secondFont              : 'Lato', sans-serif;

// Size
$mainFontColor          : #000000;
$mainFontSize           : 16px;
$mainFontWeight         : 400;
$mainLineHeight         : 1.4;

// Breakpoints

$bp-desktop-hd          : 1920px;
$bp-desktop             : 1200px;
$bp-desktop-sm          : 960px;
$bp-tablets             : 768px;
$bp-tablets-sm          : 680px;
$bp-phones              : 480px;
$bp-phones-sm           : 320px;
 
// Main color
$color_white            : #FFFFFF;
$color_black            : #000000;

$color_SmaltBlue        : #4C858B;
$color_BlueDianne       : #215359;
$color_MexicanRed       : #AE2236;
$color_Tango            : #EA6628;
$color_Amaranth         : #E33E54;

// Border Color
$border-base             : #E5E5E5;