extends ../layouts/default
include ../helpers/mixins.pug

block variables
  - var title='Дымоходы для домов и дач';
  - var description='Продажа и установка дымоходов под ключ! Скидки до конца месяца.';

block content
  main.main.container
    .main__header
      h1.main-title Монтаж дымоходов
      .bread-crumbs
        a(href="#").bread-crumbs__link Главная
        a(href="#").bread-crumbs__link Каталог
        a(href="#").bread-crumbs__link Камины
        a(href="#").bread-crumbs__link Камины облицовки
    section.hero
      p.hero__desc В 
        strong Дымоход.ру  
        | вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть .
      .hero__content
        .hero__content-left
          .hero__title 
            h2.section-title Lorem ipsum dolor sit amet
              span Lorem ipsum
          ul.hero__list 
            li.hero__item Доступные цены
            li.hero__item Собственное производсвто Дымоходов
            li.hero__item Выполнение необходимых работ связанных с установкой камина, печи, котла
            li.hero__item Гарантия (от трёх до десяти лет)
            li.hero__item Работаем чисто, аккуратно, убираем за собой, не сквернословим
            li.hero__item Только русские квалифицированные специалисты
            li.hero__item Устанавливаем любые дымоходы всех производителей
        .hero__content-right.image-decor
          img(src="../../assets/images/image-dimihod.png", alt="Дымоход").image-decor__img
          svg.image-decor__icon-bg
            use(xlink:href="/assets/images/sprite.svg#Blob")
          svg.image-decor__icon-dots
            use(xlink:href="/assets/images/sprite.svg#decorative-dots")
          svg.image-decor__icon-dots.image-decor__icon-dots--second
            use(xlink:href="/assets/images/sprite.svg#decorative-dots")
          svg.image-decor__icon-triangle
            use(xlink:href="/assets/images/sprite.svg#decorative-triangle")
          svg.image-decor__icon-triangle.image-decor__icon-triangle--second
            use(xlink:href="/assets/images/sprite.svg#decorative-triangle")
    section.info 
      .info__wrap
        +section_title('Процесс выполнения монтажа', 'info__title')
        .info__list-groups 
          ol.info__list
            li.info__item 
              span.text Рассчёт предварительной заявки
            li.info__item
              span.text Замер объекта нашим инженером
            li.info__item
              span.text Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы 
            li.info__item
              span.text Изготовление Дымохода, покраска (если требуется)
            li.info__item
              span.text Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация
            li.info__item
              span.text Гарантийное обслуживание по соответствующем сроку 
      .info__wrap
        +section_title('Почему Дымоход.ру?', 'info__title')
        p.info__desc В отличие от других производителей, мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык» 
        ul.cards
          li.cards__item.card 
            img.card__icon(src="../../assets/images/warranty.svg", alt="Документ о гарантии")
            h4.card__title Большой гарантийный срок
            .card__subtitle 
              ul
                li Крепёж, стыковка элементов – 
                  mark.em 10 лет
                li Сквозная коррозия труб – 
                  mark.em 5 лет 
                li Гидроизоляция – 
                  mark.em 3 года
          li.cards__item.card 
            img.card__icon(src="../../assets/images/helper.svg", alt="Помощь")
            h4.card__title Помощь в покупке агрегата 
            .card__subtitle 
              p (печи, камина, котла), а также качественной установке на объекте с последующим гарантийным сервисом
          li.cards__item.card 
            img.card__icon(src="../../assets/images/review.svg", alt="Отзывы")
            h4.card__title Реальные отзывы клиентов
            .card__subtitle 
              p Убедитесь в добросовестности исполнения, прочитав Отзывы клиентов в специальном разделе.
    section.feedback 
      h4.feedback__title необходима консультация?
      .feedback__subtitle оставьте заявку или свяжитесь с нами в социальных сетях
      +socials('feedback__socials')
      .feedback__form.form
        .form__title Для 
          mark.em консультации 
          | заполните форму!
        .form__subtitle С Вами свяжутся в ближайшее время
        .form__inputs 
          input(type="text" placeholder='Ваше имя' required).input
          input(type="tel" placeholder='Ваш телефон' required).input
          input(type="submit" value='отправить').input.input-submit
    section.content
      .content__wrap
        +section_title('Видео об установке', 'content__title')
        p.content__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .content__block.movie
          .movie__adaptive-movie
            iframe.movie__elem(src="https://www.youtube.com/embed/3qkwqjljB8M" title="Установка дымохода"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
      .content__wrap
        +section_title('Фото выполненных работ', 'content__title')
        p.content__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .content__block 
          include ../../components/photo-work/photo-work.pug