extends ../layouts/default

block variables
  - var title='Дымоходы для домов и дач';
  - var description='Продажа и установка дымоходов под ключ! Скидки до конца месяца.';

block content
  main
    h1 Главная страница 2 
