.main {
  margin-bottom: 131px;
  @include tablets {
    margin-bottom: 56px;
  }
  &__header {
    margin-bottom: 81px;
    @include tablets {
      margin-bottom: 60px;
    }
    @include phones {
      margin-bottom: 16px;
    }
    .main-title {
      margin-bottom: 41px;
      @include tablets {
        margin-bottom: 29px;
      }
      @include phones {
        margin-bottom: 11px;
      }
    }
    .bread-crumbs {
      padding: 16px 0;
      border-top: 1px solid #E5E5E5;
      border-bottom: 1px solid #E5E5E5;
    }
  }
}

.main-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  color: #000000;
  @include tablets {
    font-size: 45px;
    line-height: 55px;
  }
  @include phones {
    font-size: 30px;
    line-height: 37px;
  }
}



.bread-crumbs {
  display: flex;
  flex-wrap: wrap;
  &__link {
    font-size: 12px;
    line-height: 15px;
    margin-right: 8px;
    color: #B1B1B1;
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    &:before {
      content: '';
      width: 4px;
      height: 4px;
      border-top: 1px solid #4C858B;
      border-right: 1px solid #4C858B;
      margin-right: 7px;
      transform: rotate(45deg);
    }
    &:last-child {
      color: #4C858B;
      cursor: default;  
    }
    &:first-child {
      &:before {
        display: none;
      }
    }
  }
}



.hero {
  margin-bottom: 92px;
  @include tablets {
    margin-bottom: 56px;
  }
  @include phones {
    margin-bottom: 36px;
  }
  &__desc {
    margin-bottom: 50px;
    line-height: 30px;
    @include tablets {
      margin-bottom: 27px;
    }
    @include phones {
      font-size: 14px;
      line-height: 26px;
      margin-bottom: 16px;
    }
    strong {
      font-weight: 600;
      color: #E33E54;
    }
  }
  &__content {
    display: flex;
    &-right {
      @include tablets {
        display: none;
      }
    }
  }
  &__title {
    margin-bottom: 39px;
    @include tablets {
      margin-bottom: 22px;
    }
    @include phones {
      margin-bottom: 17px;
    }
    .section-title {
      &:before {
        display: none;
      }
      span {
        display:  block;
        font-size: 50px;
        line-height: 63px;
        font-weight: 800;
        color: #E33E54;
        text-transform: uppercase;
        @include tablets {
          font-size: 40px;
          line-height: 52px;
          margin-top: 4px;
        }
        @include phones {
          line-height: 37px;
        }
      }
    }
  }
  &__list {
    line-height: 24px;
    @include phones {
      font-size: 14px;
    }
  }
  &__item {
    display: flex;
    align-items: flex-start;
    margin-left: 30px;
    @include tablets {
      align-items: center;
    }
    &::before {
      content: '';
      width: 9px;
      height: 9px;
      background-color: #EA6628;
      border-radius: 50%;
      margin-right: 17px;
      flex-shrink: 0;
    }
    &:not(:last-child) {
      margin-bottom: 24px;
      @include tablets {
        margin-bottom: 24px;
      }
      @include phones {
        margin-bottom: 20px;
      }
    }
  }
}

.info {
  margin-bottom: 93px;
  @include tablets {
    margin-bottom: 44px;
  }
  @include phones {
    margin-bottom: 41px;
  }
  &__wrap {
    &:not(:last-child) {
      margin-bottom: 74px;
      @include tablets {
        margin-bottom: 14px;
      }
      @include phones {
        margin-bottom: 43px;
      }
    }
  }
  &__title {
    margin-bottom: 50px;
    @include tablets {
      margin-bottom: 39px;
    }
    @include phones {
      margin-bottom: 11px;
    }
  }
  &__desc {
    margin-bottom: 59px;
    @include tablets {
      line-height: 1.9;
      margin-bottom: 48px;
    }
    @include phones {
      font-size: 14px;
      line-height: 26px;
      margin-bottom: 23px;
    }
  }
  &__list-groups {
    display: flex;
  }
  &__list {
    column-count: 2;
    counter-reset: list 0; 
    @include phones {
      column-count: 1;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    @include phones {
      align-items: flex-start;
    }
    .text {
      line-height: 30px;
      display: flex;
      align-items: center;
      &:before {
        counter-increment: list;
        content: counter(list) "";
        font-weight: 700;
        font-size: 70px;
        line-height: 85px;
        color: #E33E54;
        opacity: 0.2;
        min-width: 78px;
        @include tablets {
          font-size: 50px;
        }
      }
      @include tablets {
        font-size: 14px;
        line-height: 26px;
        align-items: flex-start;
      }
    }
  } 
}


.cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 26px;
  justify-content: center;
  @include phones {
    flex-direction: column;
  }
  &__item {
    flex: 1;
    @include tablets {
      min-width: 33%;
      max-width: 354px;
    }
    @include phones {
      min-width: initial;
      max-width: initial;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include tablets {
    align-items: center;
    text-align: center;
  }
  &__icon {
    width: 79px;
    height: 79px;
    margin-bottom: 32px;
    @include tablets {
     margin-bottom: 26px;
    }
    @include phones {
      margin-bottom: 18px;
     }
  }
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    @include tablets {
      font-size: 18px;
      margin-bottom: 2px;
    }
  }
  &__subtitle {
    line-height: 30px;
    @include tablets {
      font-size: 14px;
      line-height: 26px;
    }
    .em {
      font-size: inherit;
      color: #E33E54;
      font-weight: 600;
    }
  }
}

.feedback {
  text-align: center;
  margin-bottom: 109px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablets {
    margin-bottom: 59px;
  }
  &__title {
    font-weight: 800;
    font-size: 50px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 14px;
    @include tablets {
      font-size: 40px;
    }
    @include phones {
      font-size: 22px;
    }
  }
  &__subtitle {
    font-size: 22px;
    line-height: 1;
    font-weight: 300;
    margin-bottom: 41px;
    @include tablets {
      font-size: 16px;
      margin-bottom: 29px;
    }
    @include phones {
      font-size: 14px;
      line-height: 26px;
      margin-bottom: 23px;
    }
  }
  &__socials {
    margin-bottom: 39px;
    @include tablets {
      margin-bottom: 35px;
    }
    @include phones {
      margin-bottom: 27px;
    }
    .socials__item {
      &:not(:last-child) {
        margin-right: 40px;
      }
      &:hover {
        .socials__icon {
          fill:#4C858B;
        }
      }
    }
    .socials__icon {
      fill: #EA6628;
    }
  }
  &__form {
    max-width: 866px;
    margin: 0 auto;
  }
}

.form {
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
  padding: 57px;
  text-align: left;
  @include tablets {
    padding: 48px 0;
    flex-direction: column;
    align-items: center;
    max-width: initial;
    width: 100%;
    text-align: center;
  }
  @include phones {
    padding-top: 25px;
    box-shadow: none;
    border-top: 1px solid #E5E5E5;
  }
  &__title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 12px;
    .em {
      font-weight: 700;
      color: #EA6628;
    }
  }
  &__subtitle {
    margin-bottom: 25px;
  }
  &__inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    @include tablets {
      flex-direction: column;
      align-items: center;
      gap: 21px;
    }
    .input {
      border: 1px solid #E5E5E5;
      transition: border-color .3s;
      will-change: border-color;
      color: #215359;
      border-radius: 4px;
      padding: 17px;
      width: 240px;
      height: 56px;
      @include tablets {
        width: 100%;
        max-width: 354px;
      }
      &:focus {
        border-color: #215359;
        transition: border-color .3s;
      }
      &-submit {
        cursor: pointer;
        background-color: #215359;
        transition: background-color .3s;
        will-change: background-color;
        color: #fff;
        font-weight: 700;
        @include tablets {
          width: 240px;
        }
        &:hover {
          background-color: #EA6628;
          border-color: #EA6628;
          transition: background-color .3s, border-color .3s;
        }
      }
    }
  }
}

.section-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 63px;
  @include tablets {
    font-size: 30px;
    line-height: 37px;
  }
  @include phones {
    font-size: 20px;
    line-height: 30px;
  }
  &:before {
    content: '';
    display: block;
    background: #E33E54;
    width: 74px;
    height: 5px;
    margin-bottom: 6px;
    @include tablets {
      margin-bottom: 10px;
    }
  }
}

.content {
  &__wrap:not(:last-child) {
    margin-bottom: 118px;
    @include tablets {
      margin-bottom: 56px;
    }
  }
  &__title {
    margin-bottom: 64px;
    @include tablets {
      margin-bottom: 34px;
    }
    @include phones {
      margin-bottom: 16px;
    }
  }
  &__desc {
    margin-bottom: 59px;
    line-height: 1.7;
    @include tablets {
      margin-bottom: 36px;
      line-height: 1.9;
    }
    @include phones {
      font-size: 14px;
      margin-bottom: 16px;
    }
  }
  &__block.movie {
    background: url(../../assets/images/moovie-background.png) center -11px/contain no-repeat;
    padding: 35px 19% 0;
    background-size: auto;
    @include tablets {
      padding: 0;
    }
  }
}

.image-decor {
  width: 766px;
  height: 541px;
  position: relative;
  &__img,
  &__icon-bg,
  &__icon-dots,
  &__icon-triangle {
    position: absolute;
  }
  &__img {
    width: 477px;
    height: 459px;
    z-index: 5;
    max-width: 477px;
    left: 32%;
    top: -5%;
  }
  &__icon {
    &-bg {
      top: -1px;
      left: 5%;
      width: 766px;
      height: 541px;
    }
    &-dots {
      width: 36px;
      height: 148px;
      z-index: 4;
      left: 28%;
      &--second {
        left: 110%;
        bottom: -5.5%;
      }
    }
    &-triangle {
      width: 78px;
      height: 19px;
      left: 7%;
      top: 27%;
      z-index: 4;
      &--second {
        left: 113%;
        top: 10%;
      }
    }
  }
}

.movie {
  position: relative;
  &__bg {
    @include tablets {
      display: none;
    }
  }
  &__adaptive-movie {
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    overflow: hidden;
    @include tablets {
    }
    .movie__elem {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-width: 0;
      outline-width: 0;
    }
  }
}