.header {
  margin-bottom: 56px;
  @include phones {
    margin-bottom: 41px;
  }
  &__container {
    max-width: 1786px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 95%;
    padding-top: 26px;
    @include desktop {
      padding-bottom: 24px;
      border-bottom: 1px solid #E5E5E5;
    }
    @include tablets {
      padding-top: 29px;
      padding-bottom: 21px;
    }
    @include phones {
      padding-bottom: 15px;
    }
  }
  &__logo-link {
    margin-right: 52px;
    display: inline-block;
    @include tablets{
      margin-right: 0;
    }
  }
  &__logo {
    width: 100px;
    height: 97px;
    @include tablets {
      width: 64px;
      height: 62px;
    }
    @include phones {
      width: 48px;
      height: 47px;
    }
  }
  &__menu {
    margin-right: 100px;
    .menu__btn--hamburger-menu {
      .hamburger-menu--active {
        .hamburger-menu__line:nth-child(3) {
          @include phones {
            bottom: 1px;
          }
        }
      }
    }
  }
  &__phone {
    margin-right: 87px;
  }
  &__callback {
    margin-right: 70px;
    margin-bottom: -5px;
  }
  &__socials {
    margin-right: 50px;
  }
  .menu__list, 
  .header__phone,
  .header__callback,
  .header__socials {
    @include desktop-hd {
      display: none;
    }
  }
  &__menu {
    @include desktop-hd {
      order: 1;
      margin-right: 0;
    }
  }
  &__controlls {
    margin-left: auto;
    margin-right: 16px;
    .controlls__btn {
      &--heart,
      &--search {
        @include phones {
          display: none;
        }
      }
      &:not(:last-child) {
        @include tablets {
          margin-right: 24px;
        }
      }
    }
  }
  .controlls {
    &__btn {
      @include phones {
        width: 44px;
        height: 44px;
      }
    }
    &__icon {
      @include phones {
        width: 18px;
        height: 15px;
      }
    }
  }
  .cart-total {
    &__background {
      @include phones {
        right: -5px;
        top: -2px;
      }
    }
  }
}






// components

.menu {
  color: #4C858B;
  display: flex;
  align-items: center;
  &__btn--hamburger-menu {
    padding: 17px;
    border-radius: 50%;
    border: 1px solid #4C858B;
    transition: all .3s;
    will-change: border-color;
    margin-right: 31px;
    @include desktop-hd {
      margin-right: 0;
    }
    @include phones {
      padding: 13px;
    }
    .hamburger-menu {
      &--active {
        .hamburger-menu__line:nth-child(3) {
          @include phones {
            bottom: 1px;
          }
        }
      }
    }
    &:hover {
      border-color: #EA6628;
      transition: all .3s;
      .hamburger-menu__line {
        background-color: #EA6628;
        transition:  all .3s;
      }
    }
    .hamburger-menu {
      height: 22px;
      width: 22px;
      @include phones {
        height: 18px;
        width: 18px;
      }
      &__line {
        border-radius: 5px;
        background-color: #4C858B;
        will-change: background-color;
      }
      &--active {
        transition: all .3s;
        .hamburger-menu__line:nth-child(3) {
          bottom: 3px;
        }
      }
    }
  }
  &__list {
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
  }
  &__item {
    will-change: color;
    &:hover {
      color: #EA6628;
      transition: color .3s;
    }
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
}

.phone-number {
  display: flex;
  flex-shrink: 0;
  .small {
    margin-right: 8px;
    font-weight: 400;
    color: #4C858B;
  }
  .strong {
    font-weight: 700;
  }
}

.callback {
  color: #AE2236;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px dashed #AE2236;
  padding-bottom: 5px;
  white-space: nowrap;
  will-change: color;
  &:hover {
    color: #F00;
    border-bottom-color: inherit;
    transition: color .3s, border-bottom-color .3s; 
  }
}

.socials {
  display: flex;
  align-items: center;
  &__item {
    &:nth-child(1) {
      margin-right: 12px;
    }
    &:nth-child(2) {
      margin-right: 16px;
    }
    &:nth-child(3) {
      margin-right: 18px;
    }
    .socials__icon:hover {
      fill: #EA6628;
      transition: fill .3s;
    }
  }
  &__link {
    display: flex;
    &--vk {
      width: 23px;
      height: 14px;
    }
    &--telegram {
      width: 22px;
      height: 19px;
    }
    &--inst {
      width: 18px;
      height: 19px;
    }
    &--whatsapp { 
      width: 18px;
      height: 19px;
    }
  }
  &__icon {
    fill: #4C858B;
    transition: fill .3s;
    will-change: fill;
  }
}

.controlls {
  display:  flex;
  align-items: center;
  &__btn {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
    &:not(:last-child) {
      margin-right: 16px;
    }
    &--search {
      fill: #4C858B;
    }
    &--heart {
      fill: #E33E54;
    }
    &--cart {
      fill: #000000;
    }
    @include phones {
      width: 44px;
      height: 44px;
    }
  }
  &__icon {
    width: 22px;
    height: 22px;
    @include phones {
      width: 18px;
      height: 15px;
    }
  }
}

.cart-total {
  position: relative;
  &__background {
    position: absolute;
    right: 0;
    top: 2px;
    background-color: #E33E54;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include phones {
      right: -5px;
      top: -2px;
    }
  }
  &__value {
    color: #fff;
    font-family: $secondFont;
    font-weight: 800;
    font-size: 11px;
    width: 13px;
    height: 13px;
  }
}