header.header 
  .header__container 
    a.header__logo-link(href="#") 
      img(src='../../assets/images/Logo.png', alt='Логотип дымоход точка ру').header__logo 
    .header__menu.menu
      .menu__btn.menu__btn--hamburger-menu#menu-btn
        .hamburger-menu
          .hamburger-menu__line
          .hamburger-menu__line
          .hamburger-menu__line
      ul.menu__list
        li.menu__item
          a(href='#') Каталог товаров
        li.menu__item
          a(href='#') Доставка и оплата
        li.menu__item
          a(href='#') Цены
        li.menu__item
          a(href='#') Контакты  
    a(href='tel:+78125092198').phone-number.header__phone
      .small +7 (812)
      .strong 509 21 98
    button(type='button').callback.header__callback Перезвоните мне
    +socials('header__socials')
    .controlls.header__controlls
      button(type='button').controlls__btn.controlls__btn--search
        svg.controlls__icon
          use(xlink:href="/assets/images/sprite.svg#search")
      button(type='button').controlls__btn.controlls__btn--heart
        svg.controlls__icon
          use(xlink:href="/assets/images/sprite.svg#heart")
      button(type='button').controlls__btn.controlls__btn--cart.cart-total
        svg.controlls__icon
          use(xlink:href="/assets/images/sprite.svg#cart")
        span.cart-total__background
          span.cart-total__value 10

