footer.footer 
  .container
    ul.footer__list
      li.footer__item.nav 
        h4.nav__title Каталог
        nav.nav__links
          a(href='#').nav__link Дымоходы
          a(href='#').nav__link Камины
          a(href='#').nav__link Дымососы
          a(href='#').nav__link Силикат кальция
          a(href='#').nav__link Печи для дома
          a(href='#').nav__link Котлы
          a(href='#').nav__link Печи для бани
          a(href='#').nav__link Еще
      li.footer__item.nav 
        h4.nav__title Информация
        nav.nav__links
          a(href='#').nav__link Каталог
          a(href='#').nav__link Полезное
          a(href='#').nav__link Установка и монтаж
          a(href='#').nav__link Контакты
          a(href='#').nav__link Отзывы
          a(href='#').nav__link Оплата и доставка
          a(href='#').nav__link Ликвидация товара
      li.footer__item.contacts
        h4.contacts__title Время работы
        .contacts__item-wrap
          svg.contacts__icon
            use(xlink:href="/assets/images/sprite.svg#clock")
          .contacts__item 
            span.small пн-пт
            | 9:00 - 20:00
            span.small сб-вс
            | 10:00 - 18:00
        .contacts__item-wrap
          svg.contacts__icon
            use(xlink:href="/assets/images/sprite.svg#placemark")
          .contacts__item г. Санкт - Петербург, ул. Тамбасова д.7
        +socials('footer__socials')